* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: linear-gradient(250deg,rgba(35, 184, 112, 1) 0%, rgba(54, 162, 131, 1) 13%, rgba(87, 162, 199, 1) 26%, rgba(132, 237, 83, 1) 100%);
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.nav {
    align-content: center;
    text-align: center;
}

.navh1 {
    color: rgb(31, 87, 35);
}

.s {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.my-img {
    width: 150px;
    border-radius: 20%;
}

.o-d {
    width: 100%;
    text-align: center;
    background-color: #23b870;
    border-radius: 20px;
    font-size: 1.5em;
    color: rgb(4, 61, 16);
    font-weight: 500;
}

.cf {
    text-align: center;
    align-content: center;
}

#modal {
    width: 40%; height: 50%;
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: #23b870;
    border: 2px #23b870 ridge ;
    border-radius: 20px;
}

.m-box {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-cl {
    position: relative;
    top: 20%;
}