* {
    margin: 0;padding: 0;box-sizing: border-box;
    --text-small: 0.5rem;
    --text-medium: 1rem;
    --text-large: 1.15em;
}

body {
    width: 100%;
    overflow: hidden;
}

.abs {
    width: 100%;
    height: 100vh; 
    background:linear-gradient(180deg, #4d0202 50%, #692020, #c52e2e);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
}

.snow {
    display: block; 
    width: 0.1em;
    height: 0.1em; 
}
.snow::after {
    content: '•';
    color: #fff;
}

.popupmodal {
    width: 30%; height: 100%;
    position: relative;
    top: 20%;
    left: 35%;
    background:none;
    z-index: 1;
    overflow: hidden;
    border: none;
}

.modal-up {
    margin-top: 26%;
    margin-left: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
}

#head{
    width: 40%; height: 10%;
    text-align: center;
    font-size:var(--text-large);
    font-weight: 600;
    color:bisque;
}

.modal-window {
    position: absolute;
    top: -5.5%;
    width: 100%;
    object-fit: cover;
    height: auto;
    z-index: -1;
    user-select: none;
}

.modal-exit {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 4em;
    left: 5%;
}

.ex-foto {
    object-fit: cover;
    width: 50px;
    user-select: none;
}

.btn-1 {
    user-select: none;
    background: none; border: none;
    cursor: pointer;
    animation-name: myanima; 
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

.btn-img {
    height: 100px;
    user-select: none;
}

@keyframes myanima {
    0%, 100% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
}

.modal-main {
    padding-left: 36%;
    font-size: var(--text-large);
    width: 86%;
    height: 20%;
    overflow: hidden;
    color:bisque;
    font-weight: 500;
}

#modal-text {
    position: relative;
    top:20%;
    animation: matrix 10s linear infinite backwards;
}

@keyframes matrix {
  0% {
    top: 100%;
  }
  100% {
    top: -400%;
  }
}  

.pr {
    display: none;
}

.tree-container {
    width: 100%;
    text-align: center;
    align-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9,1fr);
}

.img-conteiner {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 18%;
}

.tree {
    width:45vw;
    overflow: hidden;
}

.vr {
    grid-column-start: 3;
    grid-row-start: 2;
    position: relative;
    left: 2vw;
}

.fn {
    grid-row-start: 5;
    grid-column-start: 2;
    position: relative;
    top: -6vh;
}

.mn {
    transform: rotateY(30deg) rotateX(-20deg) rotateZ(10deg);
    grid-column-start: 2;
    grid-row-start: 9;
    position: relative;
    top: -6vh;
    left: -3vw;
}

.pl {
    grid-column-start: 1;
    grid-row-start: 8;
    position: relative;
    top: -3vh;
}

.pd {
    grid-column-start: 4;
    grid-row-start: 9;
    position: relative;
    top: -9vh;
    left: 2vw;
}

@media screen and (max-width:1700px) {
    .popupmodal {
        width: 50%;
        left: 20%;
    }
    .modal-up {
        margin-top: 29%;
    }
    .modal-main {
        width: 40vw;
        height: 20%;
    }
    .img-conteiner {
        left: 11%;
    }
    .tree {
        width: 100vh;
    }
    .mn {
        top: -2vh;
        left: -5vw;
    }
    .pl {
        top: 0;
        left: -3vw;
    }
    .pd {
        top: -7vh;
    }
}

@media screen and (max-width:1500px) {
    .img-conteiner {
        left: 7%;
    }
}

@media screen and (max-width:1200px) {
    .popupmodal {
        width: 60%;
        left: 10%;
    }
    .modal-up {
        margin-top: 28%;
    }
    .modal-main {
        width: 85%;
        height: 18%;
    }
    .img-conteiner {
        left: 0%;
    }
    .pd {
        left: 6vw;
    }
    .vr {
        left: 4vw;
    }
}

@media screen and (max-width:1100px) {
    .img-conteiner {
        left: -3%;
    }
}

@media screen and (max-width:900px) {
    .popupmodal {
        width: 100%;
        left: 5%;
    }
    .modal-up {
        margin-top: 29%;
    }
    .modal-main {
        height: 24%;
    }
    .img-conteiner {
        left: -12vw;
    }
    .pd {
        left: 12vw;
    }
}

@media screen and (max-width:700px) {
    .img-conteiner {
        left: -34vw;
    }
}

@media only screen and (max-width:600px) {
    .popupmodal {
        width: 100%;
        left: 5%;
    }
    .modal-up {
        margin-top: 24%;
    }
    .modal-main {
        height: 17%;
    }
    #head {
        font-size: var(--text-medium);
    }
    .img-conteiner {
        left: -15vw;
        width: 100%;
    }    
    .tree{
        width: 100%;
    }
    .mn-img {
        height: 70px;
    }
    .e-img {
        height: 80px;
    }
    .mn {
        top: -38vh;
        left: -5vw;
    }
    .pl {
        top: -32vh;
        left: 2vw;
    }
    .pd {
        top: -40vh;
        left: 3vw;
    }
    .fn {
        top: -26vh;
        left: 5vw;
    }
}

@media screen and (max-width:500px) {
    .img-conteiner {
        top: 7vh;
        left: -50vw;
    }
    .tree {
        width:150vw;
        overflow: hidden;
    }
    .tree-container {
        grid-template-rows: repeat(7,1fr);
    }
    .pd {
        grid-row-start: 7;
        top: -4vh;
        left: 3vw;
    }
    .mn {
        grid-row-start: 7;
        top:-1vh;
        left: -15vw;

    }
    .pl {
        grid-row-start: 6;
        top: 5vh;
        left: -5vw;
    }
    .vr {
        grid-row-start: 2;
    }
    .fn {
        grid-row-start: 4;
        top: 3vh;
        left: 5vw;
    }
}

@media screen and (max-width:450px) {
    .pd {
        grid-row-start: 6;
        top: 1vh;
    }
    .pl {
        top: -1vh;
    }
    .mn {
        grid-row-start: 6;
        top: 6vh;
        left: -10vw;
    }
}

@media screen and (max-width:400px) {
    .popupmodal {
        width: 100%;
        left: 0;
    }
    .modal-window {
        top: 1%;
    }
    .modal-up {
        margin-top: 37%;
    }
    #head {
        font-size: 0.7em;
    }
    .modal-main {
        height: 15%;
        margin-top: -2vh;
    }
    .img-conteiner {
        left: -53vw;
        top: 10vh;
    }
    .tree-container {
        grid-template-rows: repeat(7,1fr);
        /* display:contents; */
    }
    .tree {
        width:150vw;
        overflow: hidden;
    }
    .pd {
        grid-row-start: 8;
        top: -19vh;
        left: -2vw;
    }
    .mn {
        grid-row-start: 7;
        position:relative;
        top: -3vh;
        left: -10vw;
    }
    .pl {
        grid-row-start: 6;
        position: relative;
        top: 3vh;
        left: -2vw;
    }
    .vr {
        grid-row-start: 2;
        left: -2vw;
        top: 2vh;
    }
    .fn {
        grid-row-start: 4;
        position: relative;
        top: 0vh;
        left: 9vw;
    }
}

@media screen and (max-width:370px) {
    .modal-main {
        height: 12%;
    }
    .tree-container {
        display: inline;
    }
    .pd {
        grid-row-start: 7;
        position: relative;
        left: 33vw;
        top: -3vh;
    }
    .mn {
        grid-row-start: 6;
        top: 33vh;
        left: -27vw;
    }
    .pl {
        left: -40vw;
        top: 6vh;
    }
    .fn {
        top: 10vh;
        left: -20%;
    }
    .vr {
        top: -28vh;
        left: 15vw;
    }
}

@media screen and (max-width:320px) {
    .popupmodal {
        width: 100%;
        left: 0%;
    }
    .modal-window {
        top: 1%;
    }
    .modal-up {
        margin-top: 37%;
    }
    #head {
        font-size: 0.6em;
        height: 2%;
    }
    .modal-main {
        font-size: var(--text-medium);
        height: 9%;
        margin-top: 0vh;
    }
    .tree-container {
        display:inline;
    }
    .tree {
        top: -3vh;
    }
    .fn {
        top: 6vh;
        left: -8vw;
    }
    .pd {
        left: 30vw;
        top: -11vh;
    }
    .mn {
        top: 26vh;
        left: -26vw;
    }
    .pl {
        top: -2vh;
        left: -21vw;
        transform: rotateX(25deg) rotateY(15deg) rotateZ(10deg);
    }
    .vr {
        position: relative;
        top: -28vh;
        left: 8vw;
    }
}
